/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background: #f0f0f0; /* Base color for the background */
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.main-heading, .sub-heading {
  color: #0044cc; /* Blue color for the main and sub headings */
}

.form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form h2 {
  color: #c28617; /* Gold color for the form heading */
  margin-bottom: 20px;
}

.form input {
  width: 90%; /* Adjusted width */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 90%; /* Adjusted width */
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #0056b3;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through to underlying elements */
  z-index: -1; /* Puts the canvas behind the form */
}
